*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.nav_header{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #222;
  
}

.logo{
  width: 15vw;
  height: auto;
}

.div_fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background-color: #0006;
}

.div_image {
  background-image: url(image/barichara.jpg);
  width: 100vw;
  height: 60vh;
  background-size: cover;
  color: #fff;
}


h1 {
  margin: 0;
  color: #fff;
  font-size: 3.5rem;
  margin: 0;
}

p {
  color: inherit;
  max-width: 80vw;
  margin: 0;
}







.main {
  background-color: yellow;
}